<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SeleniumGrid.StandaloneServer.Version" value="2.53.1" />
    <add key="Selenium.WebDriver.Location" value="WebDriver" />
    <!--<add key="Selenium.hub.Address" value="https://evseleniumgrid.azurewebsites.net/wd/hub" />-->
    <!--<add key="Selenium.hub.Address" value="http://localhost:4444/wd/hub" />-->
    <add key="Selenium.ChromeDriver.LastChromeDriverVersionUrl" value="https://chromedriver.storage.googleapis.com/LATEST_RELEASE" />
    <add key="Selenium.ChromeDriver.LastFirefoxDriverVersionUrl" value="https://github.com/mozilla/geckodriver/releases/download/v0.26.0/geckodriver-v0.26.0-win32.zip" />
    <add key="Selenium.Grid.Enabled" value="false" />
    <add key="SeleniumClient.Fetch.MaxRetries" value="10" />
    <add key="SeleniumClient.Fetch.RetrySleepInterval" value="1000" />
    <add key="Spider.Scenario.Folder" value="Testbooks\" />
    <add key="Spider.Context.Folder" value="Testbooks\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>