<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SeleniumGrid.ExecuteOnStandalone" value="true" />
    <add key="SeleniumGrid.ExecuteOnStandalone.Port" value="4444" />
    <add key="SeleniumGrid.StandaloneServer.Version" value="2.53.1" />
    <add key="Selenium.webdriver.directory" value="WebDriver" />
    <add key="Selenium.chromedriver" value="2.45" />
    <add key="Selenium.hub.Address" value="10.100.1.31" />
    <add key="Selenium.hub.Port" value="4444" />
    <add key="Selenium.WebDriver.Location" value="webdriver" />
    <add key="Selenium.ChromeDriver.LastChromeDriverVersionUrl" value="https://chromedriver.storage.googleapis.com/LATEST_RELEASE" />
    <add key="Selenium.Grid.Enabled" value="false" />
    <add key="Selenium.Browser.Size" value="1024*788" />
    <add key=" SeleniumClient.Fetch.MaxRetries" value="10" />
    <add key=" SeleniumClient.Fetch.RetrySleepInterval" value="500" />
    <add key="Spider.Scenario.Folder" value="Testbooks\" />
    <add key="Spider.Context.Folder" value="Testbooks\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>